
# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
env/
venv/
.venv/
ENV/

# VS Code
.vscode/

# Arquivos de ambiente
.env

# Pacote do projeto
*.egg-info/

# Arquyivos de dados processados ignorados
data/datasets/unido
data/datasets/pontuais
data/dataframes

tests/dados_gerados_testes
